html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-page-header.header {
  background-color: #1890ff;
}

span.ant-page-header-heading-title {
  color: #fff;
}
